@import "./mixins.scss";
.section {
  margin: 3rem 0 2rem 1rem;
}
.section-header {
  margin: 2rem 0 2rem 0;
}
li {
  list-style: none;
}

.filter-header {
  @include flex(row, space-between, center);
  padding-right: 2rem;
}

.card-list {
  @include flex(row, start, start, 1rem);
  flex-wrap: wrap;
}

.p-panelmenu .p-panelmenu-panel .p-panelmenu-content {
  padding: 10px;
}
.list-img {
  width: 100%;
}
.list-card {
  width: 33%;
}

.controls {
  @include flex(row, start, center);
}

.position-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
